* {
  box-sizing: border-box;
  /* outline: 1px solid #cecece; */
}

body {
  --background: #fafafa;
  --border-radius-m: 5px;
  --shadow-m: 0 7px 34px 0 hsl(0, 0%, 91%), 0 3px 6px 0 hsl(0, 0%, 95%);
  --text: #232323;
  background: var(--background);
  color: var(--text);
  font-family: system-ui, sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 640px;
  padding: 0 10px 50px 10px;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

section,
article {
  width: 100%;
}

section > h2 {
  text-align: center;
}

article {
  background: white;
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
  padding: 24px;
  padding-top: 12px;
}

/* ———————————— POKEMON INDEX ———————————— */

.pokemon-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(179px, 1fr));
  text-transform: capitalize;
  width: 100%;
}

.pokemon-list-item {
  align-items: center;
  background: white;
  border-radius: var(--border-radius-m);
  border: 1px solid white;
  box-shadow: var(--shadow-m);
  cursor: pointer;
  list-style-type: none;
}

.pokemon-list-item-button {
  align-items: center;
  background: white;
  border-radius: var(--border-radius-m);
  border: 1px solid white;
  box-shadow: var(--shadow-m);
  cursor: pointer;
  display: flex;
  padding: 10px;
  width: 100%;

  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.pokemon-list-item > img {
  margin-right: 0.5rem;
}

.pokemon-list-item:hover {
  background: #fafafa;
}

/* ———————————— POKEMON DETAIL ———————————— */

.button-back {
  background: transparent;
  border: none;
  font-size: 1rem;
  margin-bottom: 8px;
}

.detail-header {
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .detail-header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.detail-header > img {
  margin-right: 1rem;
}

.pokemon-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.pokemon-type-container {
  align-items: center;
  display: flex;
}

.pokemon-type-container > h4 {
  font-weight: 300;
  margin-right: 8px;
}

/* ——————— POKEMON STATS */

.stats-grid {
  border: 1px solid #f3f3f3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  text-align: center;
  width: 100%;
}

.stat-item {
  align-items: center;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px;
}

.stat-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.stat-header-long {
  font-size: 1rem;
  font-weight: 600;
}

.stat-body {
  font-size: 0.85rem;
  margin-top: 8px;
  opacity: 0.8;
  text-transform: uppercase;
}
